<div class="row justify-content-end">
  <div class="col-md-6">
    <app-upload-image (imageEvent)="receiveImage($event)"></app-upload-image>
  </div>
  <div class="col-md-6">
  <div *ngIf="numImages" class="pagination">
    <div *ngIf="page > 1" class="pagination__prev">
      <button (click)="anterior()">Anterior</button>
    </div>
    <div class="pagination__text">
        <p>Página {{page}} de {{totalPages}} {{numImages}} resultados</p>
    </div>
    <div *ngIf="page < totalPages" class="pagination__next">
      <button  (click)="siguiente()" >Siguiente</button>
    </div>
</div>
</div>
</div>

<div class="card-columns">

  <div class="card card-hover h-100" *ngFor="let preview of previews">
    <div class="card-body">
      <img appLazyimg class="card-img-top"
        [src]="preview"
        loading="lazy">
        <div class="reveal h-100 p-2 d-flex">
          <div class="w-100 align-self-center">
            <p>Preview</p>
          </div>
        </div>
      </div>
    </div>

  <div class="card card-hover h-100" *ngFor="let dato of images">
    <div class="card-body" (click)="openModal(dato)">
      <img appLazyimg class="card-img-top"
        [src]="dato.image"
        alt="{{dato.name}}"
        loading="lazy">
      <div class="reveal h-100 p-2 d-flex">
        <div class="w-100 align-self-center">
          <p>{{dato.name}}</p>
        </div>
      </div>
    </div>
  </div>

</div>




